.git
.github
.idea
.vscode
node_modules
npm-debug.log
public/hot
public/build
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
*.md
docker-compose*.yml
Dockerfile
.env
.env.*
!.env.example
